.infoFeed {
    width: 600px;
    display: flex;
    flex-direction: column;
}
.infoContainer {
    max-width: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.infoFeedContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.orderStatusList {
    display: flex;
    flex-direction: column;
    width: calc(50% - 24px);
}
.orderStatusListNumbers {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    flex-wrap: wrap;

}


